@font-face{font-family:'Cinzel';font-style:normal;font-weight:700;src:url('../common/fonts/Cinzel-700.woff2') format('woff2')}
@font-face{font-family:'Crimson Text';font-style:italic;font-weight:400;src:url('../common/fonts/CrimsonText-400-italic.woff2') format('woff2')}
@font-face{font-family:'Crimson Text';font-style:normal;font-weight:400;src:url('../common/fonts/CrimsonText-400.woff2') format('woff2')}
@font-face{font-family:'Crimson Text';font-style:normal;font-weight:600;src:url('../common/fonts/CrimsonText-600.woff2') format('woff2')}
@font-face{font-family:'Philosopher';font-style:normal;font-weight:700;src:url('../common/fonts/Philosopher-700.woff2') format('woff2')}
